RowaWcf/RowaWcf.Tests/Service References/ServiceWithCallbacksNetTcp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestServiceWithCallbacks" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITestServiceWithCallbacks_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RowaWcf.Tests.TestServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestServiceWithCallbacks_SubscribeForCallbacks_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeForCallbacks" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_SubscribeForCallbacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeForCallbacksResponse" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_UnsubscribeForCallbacks_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeForCallbacks" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_UnsubscribeForCallbacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeForCallbacksResponse" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_DoAction_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAction" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_DoAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoActionResponse" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_DoActionWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:DoActionWithParam" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_DoActionWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoActionWithParamResponse" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_GetMyEndpoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyEndpoint" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_GetMyEndpoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyEndpointResponse" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_TestCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestCallback" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_TestCallbackWithResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestCallbackWithResult" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_TestCallbackWithResult_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestCallbackWithResultResponse" />
  </wsdl:message>
  <wsdl:message name="ITestServiceWithCallbacks_TestCallbackWithResult_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/RowaWcf.Tests.TestServices" name="detail" element="q1:ArgumentFault" />
  </wsdl:message>
  <wsdl:portType name="ITestServiceWithCallbacks">
    <wsdl:operation name="SubscribeForCallbacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientCallbackService/SubscribeForCallbacks" message="tns:ITestServiceWithCallbacks_SubscribeForCallbacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientCallbackService/SubscribeForCallbacksResponse" message="tns:ITestServiceWithCallbacks_SubscribeForCallbacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeForCallbacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientCallbackService/UnsubscribeForCallbacks" message="tns:ITestServiceWithCallbacks_UnsubscribeForCallbacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientCallbackService/UnsubscribeForCallbacksResponse" message="tns:ITestServiceWithCallbacks_UnsubscribeForCallbacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/DoAction" message="tns:ITestServiceWithCallbacks_DoAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/DoActionResponse" message="tns:ITestServiceWithCallbacks_DoAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoActionWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/DoActionWithParam" message="tns:ITestServiceWithCallbacks_DoActionWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/DoActionWithParamResponse" message="tns:ITestServiceWithCallbacks_DoActionWithParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyEndpoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/GetMyEndpoint" message="tns:ITestServiceWithCallbacks_GetMyEndpoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/GetMyEndpointResponse" message="tns:ITestServiceWithCallbacks_GetMyEndpoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/TestCallback" message="tns:ITestServiceWithCallbacks_TestCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestCallbackWithResult">
      <wsdl:output wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/TestCallbackWithResult" message="tns:ITestServiceWithCallbacks_TestCallbackWithResult_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/TestCallbackWithResultResponse" message="tns:ITestServiceWithCallbacks_TestCallbackWithResult_InputCallbackMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITestServiceWithCallbacks/TestCallbackWithResultArgumentFaultFault" name="ArgumentFaultFault" message="tns:ITestServiceWithCallbacks_TestCallbackWithResult_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITestServiceWithCallbacks" type="tns:ITestServiceWithCallbacks">
    <wsp:PolicyReference URI="#NetTcpBinding_ITestServiceWithCallbacks_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubscribeForCallbacks">
      <soap12:operation soapAction="http://tempuri.org/IClientCallbackService/SubscribeForCallbacks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeForCallbacks">
      <soap12:operation soapAction="http://tempuri.org/IClientCallbackService/UnsubscribeForCallbacks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <soap12:operation soapAction="http://tempuri.org/ITestServiceWithCallbacks/DoAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoActionWithParam">
      <soap12:operation soapAction="http://tempuri.org/ITestServiceWithCallbacks/DoActionWithParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyEndpoint">
      <soap12:operation soapAction="http://tempuri.org/ITestServiceWithCallbacks/GetMyEndpoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCallback">
      <soap12:operation soapAction="http://tempuri.org/ITestServiceWithCallbacks/TestCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCallbackWithResult">
      <soap12:operation soapAction="http://tempuri.org/ITestServiceWithCallbacks/TestCallbackWithResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap12:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestServiceWithCallbacks">
    <wsdl:port name="NetTcpBinding_ITestServiceWithCallbacks" binding="tns:NetTcpBinding_ITestServiceWithCallbacks">
      <soap12:address location="net.tcp://w10dev:12345/TestSingleWithCallbacksSvc/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://w10dev:12345/TestSingleWithCallbacksSvc/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>