WcfConsoleTestFramework/Connected Services/ServiceReference1/Rowa.SmartDose.WcfInterfaces.Model.Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidArgumentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArgumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidArgumentFault" nillable="true" type="tns:InvalidArgumentFault" />
</xs:schema>