WcfConsoleTestFramework/Connected Services/ServiceReference1/Rowa.SmartDose.WcfInterfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" />
  <xs:complexType name="QueryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelNamespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderByAs" type="tns:QueryRequestOrderByAs" />
      <xs:element minOccurs="0" name="OrderByAsJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderByAsc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ResultAs" type="tns:QueryRequestResultAs" />
      <xs:element minOccurs="0" name="WhereAsJson" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryRequest" nillable="true" type="tns:QueryRequest" />
  <xs:simpleType name="QueryRequestOrderByAs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Int" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Long" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryRequestOrderByAs" nillable="true" type="tns:QueryRequestOrderByAs" />
  <xs:simpleType name="QueryRequestResultAs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Item" />
      <xs:enumeration value="List" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryRequestResultAs" nillable="true" type="tns:QueryRequestResultAs" />
  <xs:complexType name="ServiceResultQueryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfQueryResponsekCLKJ5ur">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultQueryResponse" nillable="true" type="tns:ServiceResultQueryResponse" />
  <xs:complexType name="ServiceResultOfQueryResponsekCLKJ5ur">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="QueryResponse" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:QueryResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfQueryResponsekCLKJ5ur" nillable="true" type="tns:ServiceResultOfQueryResponsekCLKJ5ur" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Debug" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ServiceResultStatus" />
      <xs:element minOccurs="0" name="StatusAsInt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:simpleType name="ServiceResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="OkButDataIsNull">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OkButItemNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OkButListIsEmpty">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorException">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorConnection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorNoEnumForInt">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorInvalidateArgs">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorCouldNotDelete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorIdentifierNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorNothingFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorFailed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceResultStatus" nillable="true" type="tns:ServiceResultStatus" />
  <xs:complexType name="QueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZippedJsonData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryResponse" nillable="true" type="tns:QueryResponse" />
  <xs:complexType name="ServiceResultLong">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOflong">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultLong" nillable="true" type="tns:ServiceResultLong" />
  <xs:complexType name="ServiceResultOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOflong" nillable="true" type="tns:ServiceResultOflong" />
  <xs:complexType name="ServiceResultBool">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfboolean">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultBool" nillable="true" type="tns:ServiceResultBool" />
  <xs:complexType name="ServiceResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfboolean" nillable="true" type="tns:ServiceResultOfboolean" />
  <xs:complexType name="ServiceResultCanister">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfCanisterrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultCanister" nillable="true" type="tns:ServiceResultCanister" />
  <xs:complexType name="ServiceResultOfCanisterrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Canister" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q2:Canister" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfCanisterrcNVL4w7" nillable="true" type="tns:ServiceResultOfCanisterrcNVL4w7" />
  <xs:complexType name="ServiceResultCanisterList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfCanisterrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultCanisterList" nillable="true" type="tns:ServiceResultCanisterList" />
  <xs:complexType name="ServiceResultOfArrayOfCanisterrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCanister" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfCanister" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfCanisterrcNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfCanisterrcNVL4w7" />
  <xs:complexType name="ServiceResultCustomer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfCustomerrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultCustomer" nillable="true" type="tns:ServiceResultCustomer" />
  <xs:complexType name="ServiceResultOfCustomerrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Customer" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q4:Customer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfCustomerrcNVL4w7" nillable="true" type="tns:ServiceResultOfCustomerrcNVL4w7" />
  <xs:complexType name="ServiceResultCustomerList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfCustomerrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultCustomerList" nillable="true" type="tns:ServiceResultCustomerList" />
  <xs:complexType name="ServiceResultOfArrayOfCustomerrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCustomer" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q5:ArrayOfCustomer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfCustomerrcNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfCustomerrcNVL4w7" />
  <xs:complexType name="ServiceResultDestinationFacility">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfDestinationFacilityrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultDestinationFacility" nillable="true" type="tns:ServiceResultDestinationFacility" />
  <xs:complexType name="ServiceResultOfDestinationFacilityrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DestinationFacility" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q6:DestinationFacility" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfDestinationFacilityrcNVL4w7" nillable="true" type="tns:ServiceResultOfDestinationFacilityrcNVL4w7" />
  <xs:complexType name="ServiceResultDestinationFacilityList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfDestinationFacilityrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultDestinationFacilityList" nillable="true" type="tns:ServiceResultDestinationFacilityList" />
  <xs:complexType name="ServiceResultOfArrayOfDestinationFacilityrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDestinationFacility" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q7:ArrayOfDestinationFacility" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfDestinationFacilityrcNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfDestinationFacilityrcNVL4w7" />
  <xs:complexType name="ServiceResultManufacturer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfManufacturerrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultManufacturer" nillable="true" type="tns:ServiceResultManufacturer" />
  <xs:complexType name="ServiceResultOfManufacturerrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Manufacturer" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q8:Manufacturer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfManufacturerrcNVL4w7" nillable="true" type="tns:ServiceResultOfManufacturerrcNVL4w7" />
  <xs:complexType name="ServiceResultManufacturerList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfManufacturerrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultManufacturerList" nillable="true" type="tns:ServiceResultManufacturerList" />
  <xs:complexType name="ServiceResultOfArrayOfManufacturerrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfManufacturer" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q9:ArrayOfManufacturer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfManufacturerrcNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfManufacturerrcNVL4w7" />
  <xs:complexType name="ServiceResultMedicine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfMedicinercNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultMedicine" nillable="true" type="tns:ServiceResultMedicine" />
  <xs:complexType name="ServiceResultOfMedicinercNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Medicine" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q10:Medicine" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfMedicinercNVL4w7" nillable="true" type="tns:ServiceResultOfMedicinercNVL4w7" />
  <xs:complexType name="ServiceResultMedicineList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfMedicinercNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultMedicineList" nillable="true" type="tns:ServiceResultMedicineList" />
  <xs:complexType name="ServiceResultOfArrayOfMedicinercNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMedicine" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q11:ArrayOfMedicine" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfMedicinercNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfMedicinercNVL4w7" />
  <xs:complexType name="ServiceResultPatient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfPatientrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultPatient" nillable="true" type="tns:ServiceResultPatient" />
  <xs:complexType name="ServiceResultOfPatientrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Patient" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q12:Patient" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfPatientrcNVL4w7" nillable="true" type="tns:ServiceResultOfPatientrcNVL4w7" />
  <xs:complexType name="ServiceResultPatientList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfPatientrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultPatientList" nillable="true" type="tns:ServiceResultPatientList" />
  <xs:complexType name="ServiceResultOfArrayOfPatientrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPatient" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q13:ArrayOfPatient" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfPatientrcNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfPatientrcNVL4w7" />
  <xs:complexType name="ServiceResultTray">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfTrayrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultTray" nillable="true" type="tns:ServiceResultTray" />
  <xs:complexType name="ServiceResultOfTrayrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Tray" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q14:Tray" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfTrayrcNVL4w7" nillable="true" type="tns:ServiceResultOfTrayrcNVL4w7" />
  <xs:complexType name="ServiceResultTrayList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResultOfArrayOfTrayrcNVL4w7">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultTrayList" nillable="true" type="tns:ServiceResultTrayList" />
  <xs:complexType name="ServiceResultOfArrayOfTrayrcNVL4w7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTray" Namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="Data" nillable="true" type="q15:ArrayOfTray" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfTrayrcNVL4w7" nillable="true" type="tns:ServiceResultOfArrayOfTrayrcNVL4w7" />
</xs:schema>