WcfConsoleTestFramework/Connected Services/ServiceReference1/Rowa.SmartDose.WcfInterfaces.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medicine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReleaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="tns:Manufacturer" />
          <xs:element minOccurs="0" name="MedicinePictures" nillable="true" type="tns:ArrayOfMedicinePicture" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PillDetail" nillable="true" type="tns:MedicinePillDetail" />
          <xs:element minOccurs="0" name="PouchMode" type="tns:PouchMode" />
          <xs:element minOccurs="0" name="PrintDetails" nillable="true" type="tns:ArrayOfMedicinePrintDetail" />
          <xs:element minOccurs="0" name="SpecialHandling" nillable="true" type="tns:MedicineSpecialHandling" />
          <xs:element minOccurs="0" name="SynonymIds" nillable="true" type="tns:ArrayOfMedicineSynonym" />
          <xs:element minOccurs="0" name="TrayFillOnly" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Medicine" nillable="true" type="tns:Medicine" />
  <xs:complexType name="ReleaseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReleaseStatus" type="tns:ReleaseStatus" />
          <xs:element minOccurs="0" name="ReleaseStatusReason" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReleaseModel" nillable="true" type="tns:ReleaseModel" />
  <xs:complexType name="IdentifierModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentifierModel" nillable="true" type="tns:IdentifierModel" />
  <xs:complexType name="Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model" nillable="true" type="tns:Model" />
  <xs:simpleType name="ReleaseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Released" />
      <xs:enumeration value="Quarantine" />
      <xs:enumeration value="WaitingToBeReleased" />
      <xs:enumeration value="Rejected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReleaseStatus" nillable="true" type="tns:ReleaseStatus" />
  <xs:complexType name="Manufacturer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Manufacturer" nillable="true" type="tns:Manufacturer" />
  <xs:complexType name="ArrayOfMedicinePicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicinePicture" nillable="true" type="tns:MedicinePicture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicinePicture" nillable="true" type="tns:ArrayOfMedicinePicture" />
  <xs:complexType name="MedicinePicture">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicinePicture" nillable="true" type="tns:MedicinePicture" />
  <xs:complexType name="MedicinePillDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" type="xs:float" />
          <xs:element minOccurs="0" name="Imprint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Size" type="xs:float" />
          <xs:element minOccurs="0" name="Weight" type="xs:float" />
          <xs:element minOccurs="0" name="WeightTolerance" type="xs:float" />
          <xs:element minOccurs="0" name="Width" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicinePillDetail" nillable="true" type="tns:MedicinePillDetail" />
  <xs:simpleType name="PouchMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MultiDose" />
      <xs:enumeration value="CombiDose" />
      <xs:enumeration value="UnitDdose" />
      <xs:enumeration value="PrintOnly" />
      <xs:enumeration value="Ignore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PouchMode" nillable="true" type="tns:PouchMode" />
  <xs:complexType name="ArrayOfMedicinePrintDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicinePrintDetail" nillable="true" type="tns:MedicinePrintDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicinePrintDetail" nillable="true" type="tns:ArrayOfMedicinePrintDetail" />
  <xs:complexType name="MedicinePrintDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditionalAdvice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenericName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Imprint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IntakeAdvice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MedicineId" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicinePrintDetail" nillable="true" type="tns:MedicinePrintDetail" />
  <xs:complexType name="MedicineSpecialHandling">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExpiryTimeInDays" type="xs:int" />
          <xs:element minOccurs="0" name="Narcotic" type="xs:boolean" />
          <xs:element minOccurs="0" name="NeedsCooling" type="xs:boolean" />
          <xs:element minOccurs="0" name="RobotHandling" type="xs:boolean" />
          <xs:element minOccurs="0" name="SeperatePouch" type="xs:boolean" />
          <xs:element minOccurs="0" name="Splitable" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicineSpecialHandling" nillable="true" type="tns:MedicineSpecialHandling" />
  <xs:complexType name="ArrayOfMedicineSynonym">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicineSynonym" nillable="true" type="tns:MedicineSynonym" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicineSynonym" nillable="true" type="tns:ArrayOfMedicineSynonym" />
  <xs:complexType name="MedicineSynonym">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicineSynonym" nillable="true" type="tns:MedicineSynonym" />
  <xs:complexType name="Canister">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReleaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityStatus" type="tns:CanisterActivityStatus" />
          <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanisterType" type="tns:CanisterType" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Medicine" nillable="true" type="tns:Medicine" />
          <xs:element minOccurs="0" name="MedicineContent" nillable="true" type="tns:MedicineContent" />
          <xs:element minOccurs="0" name="Rfid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Size" type="tns:CanisterSize" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Canister" nillable="true" type="tns:Canister" />
  <xs:simpleType name="CanisterActivityStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InProduction" />
      <xs:enumeration value="InProductionQueue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CanisterActivityStatus" nillable="true" type="tns:CanisterActivityStatus" />
  <xs:simpleType name="CanisterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Transparent" />
      <xs:enumeration value="Opaque" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CanisterType" nillable="true" type="tns:CanisterType" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationType" type="tns:LocationType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:simpleType name="LocationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Machine" />
      <xs:enumeration value="Vmax" />
      <xs:enumeration value="Shipping" />
      <xs:enumeration value="FillingStation" />
      <xs:enumeration value="Waste" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LocationType" nillable="true" type="tns:LocationType" />
  <xs:complexType name="MedicineContent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentAmount" type="xs:int" />
          <xs:element minOccurs="0" name="CurrentExpiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CurrentLotNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FillingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OriginalAmount" type="xs:int" />
          <xs:element minOccurs="0" name="OriginalBarcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginalLotNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicineContent" nillable="true" type="tns:MedicineContent" />
  <xs:simpleType name="CanisterSize">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Small" />
      <xs:enumeration value="Large" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CanisterSize" nillable="true" type="tns:CanisterSize" />
  <xs:complexType name="ArrayOfCanister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Canister" nillable="true" type="tns:Canister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCanister" nillable="true" type="tns:ArrayOfCanister" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="DestinationFacility">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactAddress" nillable="true" type="tns:ContactAddress" />
          <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PouchSchemaDesign" nillable="true" type="tns:PouchSchemaDesign" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DestinationFacility" nillable="true" type="tns:DestinationFacility" />
  <xs:complexType name="ContactAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Addressline1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Addressline2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPersons" nillable="true" type="tns:ArrayOfContactPerson" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Postalcode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactAddress" nillable="true" type="tns:ContactAddress" />
  <xs:complexType name="ArrayOfContactPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPerson" nillable="true" type="tns:ContactPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactPerson" nillable="true" type="tns:ArrayOfContactPerson" />
  <xs:complexType name="ContactPerson">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactPerson" nillable="true" type="tns:ContactPerson" />
  <xs:complexType name="PouchSchemaDesign">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabelDesigns" nillable="true" type="tns:ArrayOfLabelDesign" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PouchSchemaDesign" nillable="true" type="tns:PouchSchemaDesign" />
  <xs:complexType name="ArrayOfLabelDesign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LabelDesign" nillable="true" type="tns:LabelDesign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabelDesign" nillable="true" type="tns:ArrayOfLabelDesign" />
  <xs:complexType name="LabelDesign">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabelType" type="tns:LabelType" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginalId" type="xs:long" />
          <xs:element minOccurs="0" name="SerializedLabelDesign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SystemTemplate" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LabelDesign" nillable="true" type="tns:LabelDesign" />
  <xs:simpleType name="LabelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="EmptyRun" />
      <xs:enumeration value="JobHeader" />
      <xs:enumeration value="JobFooter" />
      <xs:enumeration value="PatientHeader" />
      <xs:enumeration value="PatientFooter" />
      <xs:enumeration value="PatientDetail" />
      <xs:enumeration value="Canister" />
      <xs:enumeration value="Tray" />
      <xs:enumeration value="StockBottle" />
      <xs:enumeration value="Pack" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LabelType" nillable="true" type="tns:LabelType" />
  <xs:complexType name="ArrayOfDestinationFacility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationFacility" nillable="true" type="tns:DestinationFacility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationFacility" nillable="true" type="tns:ArrayOfDestinationFacility" />
  <xs:complexType name="ArrayOfManufacturer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Manufacturer" nillable="true" type="tns:Manufacturer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManufacturer" nillable="true" type="tns:ArrayOfManufacturer" />
  <xs:complexType name="ArrayOfMedicine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicine" nillable="true" type="tns:Medicine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicine" nillable="true" type="tns:ArrayOfMedicine" />
  <xs:complexType name="Patient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Undifferentiated" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Tray">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReleaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rfid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tray" nillable="true" type="tns:Tray" />
  <xs:complexType name="ArrayOfTray">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tray" nillable="true" type="tns:Tray" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTray" nillable="true" type="tns:ArrayOfTray" />
</xs:schema>