WcfConsoleTestFramework/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SubscribeForCallbacks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForCallbacksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeForCallbacks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeForCallbacksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicineIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="GetMedicineByIdentifierResult" nillable="true" type="q1:Medicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="queryRequest" nillable="true" type="q2:QueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="QueryResult" nillable="true" type="q3:ServiceResultQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CanistersGetIdByIdentifierResult" nillable="true" type="q4:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CanistersDeleteByIdentifierResult" nillable="true" type="q5:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersGetCanisterByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersGetCanisterByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CanistersGetCanisterByIdentifierResult" nillable="true" type="q6:ServiceResultCanister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersGetCanistersByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanistersGetCanistersByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CanistersGetCanistersByIdentifiersResult" nillable="true" type="q8:ServiceResultCanisterList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CustomersGetIdByIdentifierResult" nillable="true" type="q9:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CustomersDeleteByIdentifierResult" nillable="true" type="q10:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersGetCustomerByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersGetCustomerByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CustomersGetCustomerByIdentifierResult" nillable="true" type="q11:ServiceResultCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersGetCustomersByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customerIdentifiers" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersGetCustomersByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="CustomersGetCustomersByIdentifiersResult" nillable="true" type="q13:ServiceResultCustomerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destinationFacilityIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="DestinationFacilitiesGetIdByIdentifierResult" nillable="true" type="q14:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destinationFacilityIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="DestinationFacilitiesDeleteByIdentifierResult" nillable="true" type="q15:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesGetDestinationFacilityByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destinationFacilityIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesGetDestinationFacilityByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="DestinationFacilitiesGetDestinationFacilityByIdentifierResult" nillable="true" type="q16:ServiceResultDestinationFacility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesGetDestinationFacilitiesByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinationFacilityIdentifiers" nillable="true" type="q17:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationFacilitiesGetDestinationFacilitiesByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="DestinationFacilitiesGetDestinationFacilitiesByIdentifiersResult" nillable="true" type="q18:ServiceResultDestinationFacilityList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="ManufacturersGetIdByIdentifierResult" nillable="true" type="q19:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="ManufacturersDeleteByIdentifierResult" nillable="true" type="q20:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersGetManufacturerByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersGetManufacturerByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="ManufacturersGetManufacturerByIdentifierResult" nillable="true" type="q21:ServiceResultManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersGetManufacturersByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="manufacturerIdentifiers" nillable="true" type="q22:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersGetManufacturersByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="ManufacturersGetManufacturersByIdentifiersResult" nillable="true" type="q23:ServiceResultManufacturerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicineIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="MedicinesGetIdByIdentifierResult" nillable="true" type="q24:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicineIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="MedicinesDeleteByIdentifierResult" nillable="true" type="q25:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesGetMedcineByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicineIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesGetMedcineByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="MedicinesGetMedcineByIdentifierResult" nillable="true" type="q26:ServiceResultMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesGetMedcinesByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="medicineIdentifiers" nillable="true" type="q27:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesGetMedcinesByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="MedicinesGetMedcinesByIdentifiersResult" nillable="true" type="q28:ServiceResultMedicineList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="PatientsGetIdByIdentifierResult" nillable="true" type="q29:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="PatientsDeleteByIdentifierResult" nillable="true" type="q30:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsGetPatientByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsGetPatientByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="PatientsGetPatientByIdentifierResult" nillable="true" type="q31:ServiceResultPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsGetPatientsByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="patientIdentifiers" nillable="true" type="q32:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientsGetPatientsByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="PatientsGetPatientsByIdentifiersResult" nillable="true" type="q33:ServiceResultPatientList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysGetIdByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysGetIdByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="TraysGetIdByIdentifierResult" nillable="true" type="q34:ServiceResultLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysDeleteByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysDeleteByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="TraysDeleteByIdentifierResult" nillable="true" type="q35:ServiceResultBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysGetTrayByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysGetTrayByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="TraysGetTrayByIdentifierResult" nillable="true" type="q36:ServiceResultTray" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysGetTraysByIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q37:ArrayOfstring" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraysGetTraysByIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces" minOccurs="0" name="TraysGetTraysByIdentifiersResult" nillable="true" type="q38:ServiceResultTrayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Rowa.SmartDose.WcfInterfaces.Model" minOccurs="0" name="medicines" nillable="true" type="q39:ArrayOfMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicinesDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="medicineIdentifiers" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>