RowaWcf/RowaWcf.Tests/Service References/ServiceNetTcp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_DoAction_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAction" />
  </wsdl:message>
  <wsdl:message name="ITestService_DoAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoActionResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetMyEndpoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyEndpoint" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetMyEndpoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyEndpointResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="DoAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/DoAction" message="tns:ITestService_DoAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/DoActionResponse" message="tns:ITestService_DoAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyEndpoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetMyEndpoint" message="tns:ITestService_GetMyEndpoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetMyEndpointResponse" message="tns:ITestService_GetMyEndpoint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITestService" type="tns:ITestService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITestService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoAction">
      <soap12:operation soapAction="http://tempuri.org/ITestService/DoAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyEndpoint">
      <soap12:operation soapAction="http://tempuri.org/ITestService/GetMyEndpoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="NetTcpBinding_ITestService" binding="tns:NetTcpBinding_ITestService">
      <soap12:address location="net.tcp://w10dev:12340/TestSingleSvc/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://w10dev:12340/TestSingleSvc/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>